@charset "utf-8";

body {

    font-family: 'GoogleSans-Regular';

}



input, button, select, textarea {

    outline: none;

}



img {

    max-width: 100%;

}



a:hover, a:focus {

    text-decoration: none;

}



a {

    color: #333;

}



.owl-theme .owl-nav {

    margin-top: 0px !important;

}



.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {

    margin: 0px !important;

    padding: 0px !important;

}



.owl-prev, .owl-next {

    margin: 0px !important;

    border-radius: 0px !important;

}



.fl-left {

    float: left !important;

}



.fl-right {

    float: right !important;

}



/* css main slider */

#slider-home .owl-prev {

    position: absolute;

    top: 50%;

    left: 0;

    transform: translateY(-50%);

}



#slider-home .owl-next {

    position: absolute;

    top: 50%;

    right: 0;

    transform: translateY(-50%);

}



#slider-home .owl-nav > div {

    background-color: rgba(51, 51, 51, 0.6);

    width: 40px;

    height: 40px;

    text-align: center;

    line-height: 40px;

    color: #fff;

}



.hc-nav-trigger.hc-nav-1 {

    display: none !important;

}



.second-nav {

    display: none;

}



.clearfix {

    clear: both;

}



.search-shop-holine .search input[type=text] {

    width: 100%;

    height: 35px;

    border: 1px solid #ddd;

    padding-left: 13px;

    font-size: 14px;

    border-radius: 17px;

}



.search-shop-holine .search button {

    position: absolute;

    right: 7px;

    top: 7px;

    background: no-repeat;

    border: 0;

}



.main-logo-shop {

    padding: 10px 0;

}



.search form {

    position: relative;

}



.search-shop-holine {

    margin-top: 16px;

}



#main-menu {

    background: #77af42;

    position: relative;

    z-index: 99999;

}



#main-menu > .container > ul { /* display: inline-block; */

    padding: 0;

    margin: 0;

}



#main-menu > .container > ul > li {

    display: inline-block;

    float: left;

    position: relative;

}



#main-menu > .container > ul > li > a {

    color: #fff;

    font-size: 16px;

    display: inline-block;

    padding: 12px 28px;

}



#main-menu > .container > ul > li > a:hover {

    background: #f24638;

}



#main-menu > .container > ul > li.active > a {

    background: #f24638;

}



.logo-footer img {

    width: 150px;

}



#main-menu ul li .sub-menu {

    position: absolute;

    background: #77af42;

    z-index: 22;

    width: 230px;

    margin: 0;

    padding: 0;

    list-style: none;

    top: 50px;

    visibility: hidden;

    opacity: 0;

    -webkit-transition: all 0.7s ease;

    transition: all 0.7s ease;

}



#main-menu ul li:hover .sub-menu {

    top: 40px;

    visibility: visible;

    opacity: 1;

}



#main-menu ul li .sub-menu li {

    border-bottom: 1px solid #ddd;

}



#main-menu ul li .sub-menu li:last-child {

    border-bottom: 0;

}



#main-menu ul li .sub-menu li a {

    color: #fff;

    padding: 10px 15px;

    display: inline-block;

    width: 100%;

}



#main-menu ul li .sub-menu li a:hover {

    background: #f24638;

}



#main-menu ul li:hover .sub-menu {

    top: 46px;

    visibility: visible;

    opacity: 1;

}



.center {

    text-align: center;

}



.item-product {

    -webkit-box-shadow: 0px 0px 19px -13px rgba(0, 0, 0, 0.75);

    -moz-box-shadow: 0px 0px 19px -13px rgba(0, 0, 0, 0.75);

    box-shadow: 0px 0px 19px -13px rgba(0, 0, 0, 0.75);

    background: #fff;

}



img, a {

    -webkit-transition: all 0.7s ease;

    transition: all 0.7s ease;

}



a:hover, a:focus {

    color: #f24638;

}



.language-top ul {

    padding: 0;

    margin: 0;

    list-style: none;

    display: inline-block;

}



.language-top ul li {

    display: inline-block;

}



.language-top {

    text-align: right;

    margin-top: 16px;

}



.main-logo-shop .col-md-2 {

    width: 12%;

}



.main-logo-shop .col-md-3 { /*width: 29.66666667%;*/

}



#slider-home .item {

    position: relative;

}



#slider-home .item .overlay-item {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

}



#slider-home .item .overlay-item .content-overlay {

    background-color: rgba(119, 175, 66, 0.8);

    width: 41%;

    padding: 30px;

}



#slider-home .item .overlay-item .content-overlay .title-1 {

    margin: 0;

    font-family: 'Montserrat-Bold';

    font-size: 24px;

    text-transform: uppercase;

    line-height: 34px;

}



#slider-home .item .overlay-item .content-overlay .title-1 a {

    color: #fff;

}



.title-title .title-primary {

    font-family: 'Montserrat-Bold';

    margin: 0;

    display: inline-block;

    position: relative;

    color: #77af42;

    text-transform: uppercase;

    padding-left: 280px;

    padding-right: 280px;

}



.title-title {

    text-align: center;

}



.title-title .title-primary:before {

    content: '';

    content: url('../images/line1.png');

    position: absolute;

    left: 0;

    top: 0;

}



.title-title .title-primary:after {

    content: '';

    content: url('../images/line2.png');

    position: absolute;

    right: 0;

    top: 0;

}



.info-home {

    margin-top: 65px;

}



.info-home .nav-info-home .item {

    width: calc((100% - 40px) / 5);

    display: inline-block;

    float: left;

    margin-right: 10px;

    text-align: center;

}



.info-home .nav-info-home .item:last-child {

    margin-right: 0;

}



.info-home .nav-info-home .item .icon {

    display: inline-block;

    position: relative;

}



.info-home .nav-info-home .item .icon a {

    display: inline-block;

}



.info-home .nav-info-home .item .icon .img-hover {

    position: absolute;

    top: 0;

    left: 0;

    display: none;

}



.info-home .nav-info-home .item:hover .icon .img-hover {

    display: block;

}



.info-home .nav-info-home .item .title-1 {

    font-family: 'GoogleSans-Bold';

    font-size: 16px;

    margin: 0;

    margin-top: 20px;

    text-transform: uppercase;

}



.info-home .nav-info-home {

    display: inline-block;

    width: 100%;

    margin-top: 30px;

}



.business-areas {

    background: url('../images/bg1.jpg');

    background-size: 100% 100%;

    padding: 75px 0;

    margin-top: 50px;

    position: relative;

}



.business-areas:after {

    content: '';

    position: absolute;

    right: 0;

    top: 0;

    width: 22%;

    background: #77af42;

    height: 100%;

}



.business-areas .business-areas-left .title-1 {

    margin: 0;

    font-family: 'GoogleSans-Bold';

    font-size: 30px;

    color: #77af42;

    text-transform: uppercase;

    margin-bottom: 28px;

}



.business-areas .business-areas-left .item-business .title-2 {

    margin: 0;

    font-size: 20px;

    background: #77af42;

    color: #fff;

    padding: 16px 19px;

    text-transform: uppercase;

    position: relative;

}



.business-areas .business-areas-left .item-business .title-2:before {

    content: url('../images/ar1.png');

    position: absolute;

    right: 33px;

    top: 0;

}



.business-areas .business-areas-left .item-business .title-2:after {

    content: url('../images/ar.png');

    position: absolute;

    right: 0;

    bottom: -10px;

}



.business-areas .business-areas-left .item-business ul {

    margin: 0;

    background: #fff;

    list-style: none;

    width: 99%;

    padding: 0;

}



.business-areas .business-areas-left .item-business ul li {

    border-bottom: 1px solid #ddd;

    padding: 10px 15px 10px 33px;

    font-size: 16px;

    position: relative;

}



.business-areas .business-areas-left .item-business ul li:last-child {

    border-bottom: 0;

}



.business-areas .business-areas-left .item-business ul li:before {

    content: '';

    position: absolute;

    top: 17px;

    left: 15px;

    width: 6px;

    height: 6px;

    background: #f24638;

    border-radius: 50%;

}



.business-areas .business-areas-left .item-business ul li a {

    display: inline-block;

    width: 100%;

}



.business-areas .business-areas-left .item-business ul li .arrow {

    font-size: 12px;

    float: right

}



.business-areas .business-areas-left .item-business ul li .sub-menu {

    position: absolute;

    right: 0;

    left: 460px;

    top: 0;

    visibility: hidden;

    opacity: 0;

    -webkit-transition: all 0.7s ease;

    transition: all 0.7s ease;

    z-index: 2;

}



.business-areas .business-areas-left .item-business ul li:hover .sub-menu {

    visibility: visible;

    opacity: 1;

    left: 452px;

}



/* reset ul defaults  */

.tabs {

    margin: 0;

    padding: 0;

    list-style: none;

    display: inline-block;

}



/* set li properties  */

.tabs li {

    float: left;

    padding: 0;

    margin: 0;

    text-align: center;

}



/* all formatting goes inside 'a' */

.tabs a {

    display: block;

    text-decoration: none;

    color: #333;

    font-weight: bold;

    padding: 10px 15px;

    margin-right: 11px;

    border-radius: 5px;

    border: 1px solid #ddd;

    font-size: 16px;

    text-transform: uppercase;

}



.tabs a.active {

    background-color: #f24638;

    color: #fff;

    font-weight: bold;

    border: 1px solid #f24638;

}



.panel img {

    margin-top: 10px;

}



.panel p {

    margin-bottom: 0px;

}



.new-home {

    text-align: center;

    padding-top: 60px;

}



.new-home .tabbedPanels {

    padding-top: 35px;

}



.new-home .panelContainer {

    text-align: left;

}



.item-item-new .item1 .image img {

    width: 100%;

    height: 386px;

    object-fit: cover;

}



.item-item-new .item .image {

    overflow: hidden;

}



.item-item-new .item .image:hover img {

    -webkit-transform: scale(1.05);

    transform: scale(1.05);

}



.item-item-new .item1 {

    position: relative;

}



.item-item-new .item1 .nav-image {

    /* background: #78b152; */

    width: 60%;

    bottom: 0;

    /* position: absolute; */

    left: 0;

    /* padding: 30px; */

    padding: 20px 10px 0px 0px;

}



.item-item-new .item .nav-image .category-name {

    margin: 0;

    font-size: 14px;

    text-transform: uppercase;

}



.item-item-new .item .nav-image .category-name a {

    color: #f24638;

}



.item-item-new .item .nav-image .title-1 {

    font-family: 'GoogleSans-Bold';

    font-size: 16px;

    line-height: 22px;

    height: 44px;

    overflow: hidden;

    margin: 10px 0;

}



.item-item-new .item .nav-image .date {

    font-size: 14px;

    margin: 0;

}



.item-item-new .item1 .nav-image a {

    color: #333;

}



.item-item-new .item1 .nav-image .date {

    color: #c6dcb6;

}



.item-item-new .item2 .nav-image {

    margin-top: 17px;

}



.item-item-new .item2 .nav-image .date {

    color: #999999;

}



.item-item-new .item2 .nav-image .category-name a {

    color: #f24638;

}



.item-item-new .item2 .image img {

    width: 100%;

    height: 240px;

    object-fit: cover;

}



.new-home .panel {

    margin-top: 20px;

    border: 0;

    box-shadow: none;

}



.new-home .item-item-new {

    margin-bottom: 20px;

}



.product-home {

    background: #f7f7f7;

    padding: 55px 0;

    margin-top: 30px;

}



.item-product .image img {

    width: 100%;

    height: 240px;

    overflow: hidden;

}



.item-product .image:hover img {

    -webkit-transform: scale(1.05);

    transform: scale(1.05);

}



.item-product .image {

    overflow: hidden;

}



.item-product .nav-image {

    padding: 20px;

    position: relative;

}



.item-product .nav-image .title-1 {

    margin: 0;

    font-size: 17px;

    font-family: 'GoogleSans-Bold';

    line-height: 22px;

    height: 44px;

    overflow: hidden;

    margin-bottom: 10px;

    padding-left: 56px;

}



.item-product .nav-image p {

    margin-bottom: 5px;

}



.item-product .nav-image .stt {

    position: absolute;

    top: -30px;

    left: 13px;

}



.item-product .nav-image .stt img {

    width: auto !important;

}



.item-product .nav-image .stt span {

    font-family: 'SAMSUNGSHARPSANS-BOLD-UTF8';

    font-size: 22px;

    position: absolute;

    top: 17px;

    left: 20px;

    color: #fff;

}



.item-product .nav-image p strong {

    font-family: 'GoogleSans-Bold';

}



.red {

    color: #f24638;

}



.owl-dots .owl-dot {

    width: 10px;

    height: 10px;

    display: inline-block;

    float: left;

    margin: 3px;

    border-radius: 50%;

    background: #d0e1c0;

}



.owl-dots .owl-dot.active {

    background: #77af42;

}



.owl-dots {

    position: absolute;

    bottom: 0;

    left: 50%;

    transform: translateX(-50%);

}



.product-home .slider-product {

    margin-top: 35px;

    padding-bottom: 35px;

}



.content-bottom .item .title-1 {

    font-family: 'Montserrat-Bold';

    margin: 0;

    font-size: 22px;

    color: #77af42;

    text-transform: uppercase;

}



.content-bottom {

    padding: 50px 0;

}



.content-bottom .item .nav-item {

    margin-top: 20px;

}



.content-bottom .item .nav-item.nav-item-vieo {

    position: relative;

}



.content-bottom .item .nav-item.nav-item-vieo:after {

    content: '';

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

}



.content-bottom .item .nav-item.nav-item-vieo .icon {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 1;

}



.content-bottom .item .nav-item img {

    width: 100%;

}



.content-bottom .item .nav-item.nav-item-vieo .icon img {

    width: auto;

}



/*css footer */

.footer-1 {

    padding-top: 70px;

    padding-bottom: 50px;

}



.h3-title-ft {

    font-size: 17px;

    color: #fff;

    margin-top: 0;

    margin-bottom: 15px;

    font-family: 'GoogleSans-Bold';

}



.wp-ft a {

    color: #fff;

    transition: all 0.3s ease-in-out;

}



.wp-ft a:hover {

    color: #d8af77;

    padding-left: 5px;

}



.footer-2 > .container {

    margin-top: 35px;

    padding-top: 35px;

    border-top: 1px solid #595959;

    padding-bottom: 45px;

}



.copy-right {

    background: #0093c9;

    padding: 15px 0px;

}



.list-ft li {

    padding-bottom: 6px;

    margin-bottom: 6px;

    font-size: 15px;

}



.list-ft li:last-child {

    border-bottom: 0

}



.copy-right a:hover {

    color: #d93438 !important;

}



.mxh-top li i {

    color: #7f7f7f;

}



.ul-phone {

    padding: 0px;

    margin-right: 60px;

}



.ul-phone li {

    float: left;

    margin-left: 12px;

    color: #000;

    list-style: none;

}



.ul-phone li a {

    font-weight: bold;

}



.ul-phone li p {

    margin-bottom: 0px;

    color: #999999;

}



.ul-phone li:nth-of-type(1) {

    background: url("../images/bg_iconheader.png") no-repeat;

    background-position: 0px 0px;

    padding-left: 15px;

}



.ul-phone li:nth-of-type(2) {

    background: url("../images/bg_iconheader.png") no-repeat;

    background-position: -129px 0px;

    padding-left: 30px;

}



.ul-phone li:nth-of-type(3) {

    background: url("../images/bg_iconheader.png") no-repeat;

    background-position: -270px 0px;

    padding-left: 30px;

}



.h2-title-ft {

    font-size: 20px;

}



.box_mxhft li {

    list-style: none;

    display: inline-block;

    float: left;

}



.box_mxhft li a {

    width: 38px;

    height: 38px;

    margin-right: 5px;

    float: left;

    background: #84bd32;

    text-align: center;

    line-height: 38px;

}



.clearfix-20 {

    height: 20px;

    clear: both;

}



.box_mxhft {

    display: inline-block;

    padding-left: 0;

    margin-bottom: 0;

}



.box_formft .left {

    width: 70%;

    display: inline-block;

    float: left:;

}



.box_formft .right {

    width: 28%;

    display: inline-block;

    float: right;

}



.box_formft input {

    border: 0px;

    border-radius: 4px; /* padding: 10px; */

    width: 100%;

    height: 39px;

    margin-bottom: 5px;

    padding-left: 10px;

}



.box_formft .right button {

    background: none;

    margin: 0;

    padding: 0;

    border: 0;

}



.box_formft input {

    border: 0px;

    width: 100%;

    height: 34px;

    margin-bottom: 5px;

    padding-left: 10px;

}



.copy-right {

    width: 100%;

    display: inline-block;

    background: #649c30;

    height: 44px;

    line-height: 44px;

    text-align: center;

    font-size: 14px;

    color: #fff;

    margin: 0;

    padding: 0;

}



.copy-right .text-center {

    text-align: center;

    color: #fff;

}



.div-list-ft p {

    color: #333;

}



.copy-right a {

    color: #fff;

}



.footer-1 ul {

    padding: 0;

    margin: 0;

    list-style: none;

}



#footer-site {

    background: #77af42;

    margin-top: 50px;

}



#footer-site .wp-ft .title-footer img {

    display: inline-block;

    float: left;

    margin-right: 15px;

}



#footer-site .wp-ft .title-footer {

    font-family: 'GoogleSans-Bold';

    font-size: 18px;

    color: #333;

    text-transform: uppercase;

    line-height: 24px;

    display: inline-block;

    padding-bottom: 12px;

}



#footer-site .wp-ft .desc {

    font-size: 14px;

    color: #fff;

}



.form-footer .item1 {

    width: calc(100% - 65px);

    display: inline-block;

    float: left;

}



.footer-1 .description p {

    color: #fff;

    font-size: 15px;

    margin-bottom: 5px;

}



.footer-1 .description p svg {

    color: #bbd7a1;

}



.wp-copy span {

    display: inline-block;

    padding: 0 5px;

}



#footer-site .h3-title1 {

    margin: 0;

    font-family: 'OpenSans-Bold';

    font-size: 25px;

    color: #fff;

    line-height: 32px;

    margin-bottom: 15px;

}



#footer-site .Join-now {

    background: #ffb766 0% 0% no-repeat padding-box;

    border-radius: 5px;

    opacity: 1;

    font-size: 19px;

    color: #1f2236;

    border: 1px solid #fff;

    margin-bottom: 20px;

    padding: 10px 29px;

    font-family: 'OpenSans-Bold';

}



.footer-1 .description p svg {

    margin-right: 5px;

}



.footer-1 .description p {

    padding-bottom: 10px;

}



/*#scrollUp {*/

/*    background: #649c30;*/

/*    color: #fff;*/

/*    bottom: 40px;*/

/*    right: 40px;*/

/*    border-radius: 100px;*/

/*    height: 47px;*/

/*    width: 47px;*/

/*    font-size: 25px;*/

/*    text-align: center;*/

/*    line-height: 45px;*/

/*    box-shadow: 0 0 15px 0px rgb(50 50 50 / 20%);*/

/*    transition: 0.3s;*/

/*    display: inline-block;*/

/*    position: fixed;*/

/*    bottom: 62px;*/

/*    right: 10px;*/

/*    cursor: pointer;*/

/*    z-index: 999;*/

/*}*/



#scrollUp:hover {

    background: #fff;

    color: #649c30;

}



.fix-phone .phone {

    margin-bottom: 10px;

}



.fix-phone {

    position: fixed;

    bottom: 110px;

    top: inherit !important;

    z-index: 999;

    right: 10px;

}



.phone-box img {

    max-width: 25px;

    animation: play0 1.5s ease infinite;

}



.phone-box {

    background: linear-gradient(90deg, #649c30 0%, #649c30 50%, #649c30 100%);

    width: 48px;

    height: 48px;

    line-height: 48px;

    text-align: center;

    border-radius: 30px;

    display: inline-block;

    color: #fff;

    font-size: 18px;

}



.zalo-box, .fb-box {

    background: linear-gradient(90deg, #649c30 0%, #649c30 50%, #649c30 100%);

    width: 48px;

    height: 48px;

    line-height: 47px;

    text-align: center;

    border-radius: 30px;

    display: inline-block;

    color: #fff;

    font-size: 18px;

}



.zalo-box img, .fb-box img {

    max-width: 33px;

    filter: hue-rotate(65deg);

}



.footer-1 .title-1 {

    color: #fff;

    font-family: 'Montserrat-Bold';

    font-size: 20px;

    margin: 0;

    padding-bottom: 17px;

    text-transform: uppercase;

}



.footer-1 .col-md-10 {

    width: 75%;

}



.footer-1 .col-md-2 {

    width: 25%;

}



.footer-1 .col-md-10 .row {

    margin-left: -7px;

    margin-right: -7px;

}



.footer-1 .col-md-10 .row .col-md-3 {

    padding-left: 7px;

    padding-right: 7px;

}



.map iframe {

    width: 100%;

    height: 233px;

}



a, img {

    -webkit-transition: all 0.7s ease;

    transition: all 0.7s ease;

}



.header-site-mobile {

    display: none;

}



.business-areas-left-mobile {

    display: none;

}



.slider-business {

    position: relative;

}



.slider-business:before {

    content: url('../images/line3.png');

    position: absolute;

    top: -5px;

    right: 0;

    z-index: -1;

}



.slider-business .item img {

    width: calc(100% - 5px);

    height: 394px;

    object-fit: cover;

}



.slider-business:after {

    content: url('../images/line3.png');

    position: absolute;

    bottom: -5px;

    right: 0;

    z-index: -1;

}



.slider-business .owl-stage-outer {

    padding-bottom: 5px;

}



.slider-business .owl-dots {

    bottom: 17px;

}



#footer-site.footer-site-child {

    margin-top: 0;

    position: relative;

    z-index: 999;

}

header#header-site {

    position: relative;

    z-index: 9999;

    background: #fff;


}

.main-project .business-areas {

    margin-top: 0;

}



.main-project .business-areas:after {

    display: none;

}



.main-overview .content-overview .item {

    border: 1px solid rgba(0, 0, 0, .09);

    border-radius: 2px;

    justify-content: center;

    align-items: center;

    box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 15%);

    padding: 20px;

}



.main-overview .content-overview .row {

    margin-left: -7px;

    margin-right: -7px;

}



.main-overview .content-overview .row .col-md-4 {

    padding-left: 7px;

    padding-right: 7px;

}



.main-overview .content-overview .item .title-2 {

    margin: 0;

    margin-bottom: 14px;

    font-size: 16px;

}



.main-overview .content-overview .item .number {

    font-family: 'GoogleSans-Bold';

    font-size: 35px;

}



.main-overview .content-overview .item {

    text-align: center;

    background: #f5f7fc;

    margin-bottom: 14px;

    height: 280px;

    -webkit-transition: all 0.7s ease;

    transition: all 0.7s ease;

}



.main-overview .content-overview .col-md-4:nth-child(2n) .item {

    background: #fff;

}



.main-overview .content-overview .item .desc {

    margin: 0;

    font-size: 20px;

}



.main-overview .content-overview .item .icon img {

    width: 100px;

    display: inline-block;

    height: 112px;

}



.main-overview .content-overview {

    margin-top: 35px;

}



.main-overview {

    margin-top: 40px;

}



.main-overview .content-overview .item .icon {

    display: inline-block;

    position: relative;

}



.main-overview .content-overview .item .icon .img-hover {

    position: absolute;

    top: 0;

    left: 0;

    display: none;

}



.main-overview .content-overview .item:hover .icon .img-hover {

    display: block;

}



.main-overview .content-overview .item:hover {

    background: #77af42;

}



.main-overview .content-overview .col-md-4:nth-child(2n) .item:hover {

    background: #77af42;

}



.main-overview .content-overview .item:hover .title-2 {

    color: #fff;

}



.main-overview .content-overview .item:hover .number {

    color: #fff;

}



.main-overview .content-overview .item:hover .desc {

    color: #fff;

}



.main-overview .content-overview-video {

    background: url('../images/bg2.jpg');

    padding: 50px 0;

    background-size: cover;

}



.main-overview .content-overview-video iframe {

    width: 100%;

    height: 560px;

}



.main-overview .content-overview-video {

    margin-top: 30px;

}



.banner-child {

    position: relative;

}



.banner-child img {

    width: 100%;

}



.banner-child .overlay-banner {

    width: 100%;

    position: absolute;

    bottom: 20px;

    left: 0;

}



.banner-child .overlay-banner .title-1 {

    color: #fff;

    font-size: 30px;

    font-family: 'GoogleSans-Bold';

}



.banner-child .overlay-banner .desc {

    margin: 0;

    font-size: 18px;

    color: #fff;

}



.share-holding-content {

    background: #f4f9ff !important;

    padding-top: 50px;

    padding-bottom: 70px;

    margin-bottom: 0;

    min-height: 600px;

    background: 0 0;

    position: relative;

}



.post-share-holding {

    position: relative;

    z-index: 99;

}



.share-holding-img {

    margin-bottom: 30px;

    text-align: center;

}



.share-holding-img a {

    display: inline-block;

}



.share-holding-icon img {

    display: inline-block;

    height: 115px;

}



.share-holding-text {

    background: #fff;

    border-radius: 6px;

    padding: 30px;

    height: auto;

    overflow: hidden;

    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);

    margin-bottom: 30px;

    height: 320px;

    overflow: auto;

}



.share-holding-text .description-box {

    font-size: 18px;

    text-align: justify;

}



.share-holding-content .logo-bg {

    position: absolute;

    top: 23%;

    z-index: 0;

    width: 500px;

    height: auto;

    left: 0;

    right: 12%;

    margin: auto;

}



.title-content h3 {

    border-bottom: none;

    width: 100%;

    padding: 10px 0;

    position: relative;

    background: 0 0;

    font-size: 20px;

    text-transform: uppercase;

    font-weight: 700;

    margin: 0;

    margin-bottom: 25px;

}



.title-content h3:before {

    content: "";

    display: block;

    width: 100%;

    height: 3px;

    background: #d0e9f5;

    background: -moz-linear-gradient(left, #d0e9f5 0, #f1f6d9 100%);

    background: -webkit-gradient(left top, right top, color-stop(0, #d0e9f5), color-stop(100%, #f1f6d9));

    background: -webkit-linear-gradient(left, #d0e9f5, #f1f6d9);

    background: -o-linear-gradient(left, #d0e9f5 0, #f1f6d9 100%);

    background: -ms-linear-gradient(left, #d0e9f5 0, #f1f6d9 100%);

    background: linear-gradient(90deg, #d0e9f5 0, #f1f6d9);

    position: absolute;

    bottom: 0;

}



.title-content h3:after {

    content: "";

    display: block;

    width: 95px;

    height: 5px;

    background: #77af42;

    position: absolute;

    bottom: -1px;

}



.main-vision-cultural .banner-child .content-overlay-banner {

    background: rgba(117, 175, 66, .7);

    padding: 20px;

    width: 70%;

}



.main-vision-cultural .banner-child .overlay-banner {

    bottom: inherit;

    top: 20px;

}



.main-vision-cultural .banner-child .overlay-banner .desc {

    font-size: 19px;

}



.about-culture {

    padding: 30px 0;

    padding-bottom: 0

}



.about-culture__item {

    padding: 50px 0

}



.about-culture__item--content-img {

    width: 80px;

    margin-bottom: 20px

}



.about-culture__item.bg-1 {

    background: #f1faf6

}



.about-culture__item.bg-2 {

    background: #ebf9fe

}



.about-culture__item--content h4 {

    font-size: 24px;

    text-transform: uppercase;

    font-weight: 500;

    margin-bottom: 15px;

    height: 26px;

    overflow: hidden

}



.about-culture__item--content .description-box {

    font-size: 18px;

    height: auto;

    overflow: hidden;

    margin-bottom: 15px

}



.about-culture__item--content a {

    font-size: 20px;

    color: #039

}



.about-culture__item--content a img {

    margin-left: 10px;

    width: 20px

}



.about-culture__item--content a:hover {

    color: #337ab7

}



.about-culture__item--img {

    border-radius: 6px;

    overflow: hidden;

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)

}



.about-culture__item--content .lastest-new__item--readmore {

    text-align: left;

}



@media (min-width: 1199px) {

    .about-culture__item--content .description-box { /* height: 175px; */

    }



    .culture-slider .banner-slider__item .banner-slider__title {

        width: 1140px;

        height: auto;

        margin-bottom: 0;

    }

}



@media (min-width: 768px) {

    .culture-slider .banner-slider__item {

        bottom: 35px;

    }

}



@media (min-width: 1024px) {

    .culture-align-item {

        display: flex;

        align-items: center;

    }

}



@media (max-width: 1023px) {

    .about-culture__item.bg-1 .about-culture__item--content-img {

        margin-top: 20px;

    }

}



.main-vision-cultural {

    padding-top: 35px;

}



.main-vision-cultural .cultural-content {

    padding-top: 35px;

}



.post-thumb {

    max-width: 100%;

    display: block;

    overflow: hidden

}



.vsip-news-content .post-thumb img {

    height: 240px;

    object-fit: cover;

}



.post-thumb img {

    -webkit-transition: all .25s cubic-bezier(.66, .36, .17, .91);

    -moz-transition: all .25s cubic-bezier(.66, .36, .17, .91);

    -o-transition: all .25s cubic-bezier(.66, .36, .17, .91);

    transition: all .25s cubic-bezier(.66, .36, .17, .91);

    box-shadow: none;

    margin: 0;

    width: 100%

}



.post-thumb:hover img {

    -webkit-transform: scale(1.2);

    -moz-transform: scale(1.2);

    -ms-transform: scale(1.2);

    -o-transform: scale(1.2);

    transform: scale(1.2)

}



.wp-item-album {

    margin-bottom: 25px;

    padding-bottom: 25px;

    border-bottom: 1px solid #e5e5e5;

}



.wp-item-album .text-album a {

    padding: 18px 15px;

    background-color: #ecebeb;

    font-size: 16px;

    display: table;

    width: 100%;

    color: #000;

}



.wp-item-album .text-album a span {

    line-height: 22px;

    display: flex;

    height: 44px;

    overflow: hidden;

}



.wp-item-album .text-album img {

    width: 35px;

    margin-right: 10px;

    float: left;

}



.wp-img-ct-album {

    margin-bottom: 30px;

}



.mg-20 {

    display: block;

    margin-bottom: 20px;

}



.wp-title-page .h2-title {

    line-height: 35px;

    margin: 30px 0;

    display: block;

    font-size: 32px;

    color: #313035;

}



.wp-list-item-sp .wp-item-sp {

    background-color: #dae0e6;

    float: left;

    width: 100%;

    height: 540px;

}



.wp-list-item-album .wp-item-album .img-album img {

    width: 100%;

    height: 260px;

    object-fit: cover;

}



.wp-list-item-album {

    padding-top: 40px;

}



.wp-list-item-album .title-title {

    margin-bottom: 30px;

}



.pagenavi {

    padding-bottom: 20px;

    text-align: center;

}



.pagenavi ul {

    padding-left: 0;

}



.pagenavi ul li {

    display: inline-block;

}



.pagenavi ul a {

    height: 27px;

    display: inline-block;

    background: #fff;

    text-align: center;

    line-height: 27px;

    border: 1px solid #77af42;

    padding: 0 10px;

}



.pagenavi ul a.active {

    background: #77af42;

    color: #fff !important;

}



.pagenavi ul {

    float: none !important

}



.pagenavi ul li {

    margin-left: 0 !important

}



.img-album.img-cover img {

    width: 100%;

    height: 300px;

    object-fit: cover;

}



.ir {

    display: block;

    background-image: url('../images/ir_icon1.png');

    background-repeat: no-repeat;

    overflow: hidden;

    font-size: 0;

    line-height: 0;

    text-indent: -999em;

}



.ir {

    visibility: hidden;

    position: absolute;

    top: 50%;

    left: 50%;

    width: 100px;

    height: 100px;

    transform: translate(-50%, -50%);

    opacity: 0;

    transition: visibility .3s ease, opacity .3s ease;

    z-index: 501;

    background-position: -470px 0;

}



.overlay {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    opacity: 0;

    transition: visibility .3s ease, opacity .3s ease;

    z-index: 500;

    background: #302d2e;

}



.img-album a {

    width: 100%;

    display: block;

    position: relative;

}



.wp-item-album:hover .overlay {

    visibility: visible;

    opacity: .8;

}



.ir {

    visibility: hidden;

    position: absolute;

    top: 50%;

    left: 50%;

    width: 100px;

    height: 100px;

    transform: translate(-50%, -50%);

    opacity: 0;

    transition: visibility .3s ease, opacity .3s ease;

    z-index: 501;

    background-position: -470px 0;

}



.wp-item-album:hover .ir {

    visibility: visible;

    opacity: 1;

}



.about-map {

    margin-bottom: 35px;

}



.page-heading {

    margin-top: 30px;

    background: #77af42 url(../images/heading-bg.png) no-repeat;

    background-size: 100% 100%;

    min-height: 69px;

    background-position: 130px 0;

}



.page-heading h2 {

    text-transform: uppercase;

    font-size: 26px;

    font-weight: 700;

    color: #fff;

    line-height: 69px;

    margin-top: 0;

    margin-bottom: 0;

}



.page-heading h2 span {

    position: absolute;

    left: 50%;

    color: #039;

    text-transform: none;

}



.about-map iframe {

    width: 100%;

}



.slider-banner .owl-prev {

    position: absolute;

    top: 50%;

    left: 0;

    transform: translateY(-50%);

}



.slider-banner .owl-next {

    position: absolute;

    top: 50%;

    right: 0;

    transform: translateY(-50%);

}



.slider-banner .owl-nav > div {

    background-color: rgba(51, 51, 51, 0.6);

    width: 40px;

    height: 40px;

    text-align: center;

    line-height: 40px;

    color: #fff;

}



.about-content__module {

    margin-bottom: 70px;

}



.about-page img {

    max-width: 100%;

    height: auto;

}



.about-content__item--title {

    padding-bottom: 10px;

    border-bottom: 1px solid #000;

    margin-bottom: 25px;

}



.about-content__item--inner h4 {

    line-height: 21px;

    color: #000;

    text-transform: uppercase;

    font-size: 15px;

}



.about-content__item--inner p {

    font-size: 15px;

    color: #000;

}



.about-content__module {

    margin-top: 50px;

}



.about-milestones-inner {

    margin-bottom: 90px;

}



.about-milestones__slider-item--inner {

    border-left: 2px solid #c1cd23

}



.about-milestones__slider--title {

    margin-bottom: 20px;

    padding-left: 15px

}



.about-milestones__slider--title h4 {

    font-size: 25px;

    color: #77af42;

    margin-top: 0;

    height: 27px;

    overflow: hidden

}



.about-milestones__slider--title .description-box {

    font-size: 16px;

    height: 92px;

    overflow: auto;

    margin-bottom: 0;

    word-break: break-word;

}



.about-milestones__slider--img {

    display: block

}



.about-milestones__slider--img img {

    width: 100%

}



.about-milestones__slider-item.style-2 .about-milestones__slider--img {

    margin-bottom: 20px

}



.about-milestones__slider-item.style-2 .about-milestones__slider--title {

    margin-bottom: 0

}



/* @media (max-width: 1199px) {    .about-milestones__slider .slick-prev {        left: 100%;    }} */

.about-infrastructure__item {

}



.about-infrastructure__item--icon {

    width: 70px;

    height: 80px;

    display: flex;

    align-items: center;

    justify-content: flex-end

}



.about-infrastructure__item--title {

    overflow: hidden;

    padding-left: 10px

}



.about-infrastructure__item--title h4 {

    text-transform: uppercase;

    font-weight: 700; /* height: 19px; */

    overflow: hidden

}



.about-infrastructure__item--title p { /* height: 57px; */

    overflow: hidden

}



.about-infrastructure-2 .col-md-3 {

    width: 20%

}



.about-infrastructure-2 .about-infrastructure__item--title p {

    display: flex;

    align-items: center;

    font-size: 18px

}



.about-infrastructure-2 {

    margin-top: 50px;

}



.about-leaflet__item {

    text-align: center

}



.about-leaflet__item--img {

    display: block;

    margin-bottom: 25px

}



.about-leaflet__item--img img {

    width: 100%

}



.about-leaflet__item--title {

    text-align: center

}



.about-leaflet .page-heading {

    margin-bottom: 70px

}



.about-leaflet__item--link {

    font-size: 18px;

    display: inline-block

}



a.about-leaflet__item--link {

    color: #337ab7;

}



a.about-leaflet__item--link svg {

    margin-right: 5px;

}



.about-leaflet {

    margin-bottom: 30px

}



.about-milestones__slider-item.style-2 .about-milestones__slider-item--inner {

    margin-top: 152px;

    padding-top: 0;

}



.longEnough {

    max-height: 220px;

    overflow: auto;

}



.about-milestones-inner .about-milestones__slider {

    margin-top: 45px;

}



.about-milestones__slider .owl-nav > div img {

    width: 25px;

}



.about-milestones__slider .owl-next {

    position: absolute;

    top: 50%;

    right: -40px;

    transform: translateY(-50%);

}



.about-milestones__slider .owl-prev {

    position: absolute;

    top: 50%;

    left: -40px;

    transform: translateY(-50%);

}



.about-infrastructure .container-fluid {

    padding-left: 100px;

    padding-right: 100px;

}



.about-infrastructure .about-infrastructure__item {

    padding-bottom: 20px;

}



.about-infrastructure {

    padding-top: 30px;

}



.leftlet-tab {

    float: left;

    cursor: pointer;

}



.video-tab {

    float: left;

    margin-left: 40%;

    text-transform: uppercase;

    font-size: 26px;

    margin-top: 15px;

    font-weight: 700;

    color: #1f86d5;

    cursor: pointer;

}



.main-vision-cultural.main-page-new {

    padding-top: 0;

}



.slider-banner .item {

    position: relative;

}



.news-page {

    margin-bottom: 0px;

    padding-top: 35px;

}



.vsip-news-content {

    min-height: 500px;

}



.vsip-news-content .pagination {

    margin-top: 20px !important;

}



.vsip-news-content .news-page__item {

    margin-bottom: 15px;

}



.news-page__item--inner {

    background: url(../images/bg-a.jpg) no-repeat;

    background-size: cover;

    background-position: 50%;

    padding: 20px;

    color: #fff;

}



.news-page__item--inner h4 {

    text-transform: uppercase;

    font-size: 18px;

    line-height: 24px;

    height: 48px;

    overflow: hidden

}



.news-page__item--inner span {

    display: block;

    margin-bottom: 10px;

    font-size: 16px

}



.news-page__item--inner .description-box {

    font-size: 16px;

    font-weight: 300px;

    height: 44px;

    overflow: hidden

}



.news-page__item--inner .read-more {

    display: block;

    text-align: right

}



.news-page__item--inner .read-more img {

    display: inline-block;

    width: 40px;

    height: 40px

}



.news-page__item--inner .read-more:hover img {

    opacity: .7

}



.news-page__item--inner.bg-2 {

    background: url(../images/bg-b.jpg) repeat-x center;

}



.news-page__slider { /* margin-bottom: 70px!important */

}



.news-page .pagenavi {

    text-align: right;

    margin-top: 15px;

}



.tenants-content {

    padding: 60px 0;

    padding-bottom: 30px;

    min-height: 1000px;

    background: 0 0;

    margin-bottom: 0px;

    background-size: cover !important;

}



.tenants-item {

    padding: 0 25px;

    background: hsla(0, 0%, 100%, .8);

    padding-bottom: 30px;

    margin-bottom: 30px;

    min-height: 267px;

    width: 100%;

    position: relative

}



.tenants-item span.count {

    display: inline-block;

    color: #fff;

    background: #c4d024;

    padding: 5px 10px;

    font-size: 44px

}



.tenants-item h4 {

    font-style: italic;

    height: 70px;

    font-size: 21px;

    margin: 15px 0;

    margin-top: 20px;

    overflow: hidden;

    text-overflow: ellipsis;

    display: -webkit-box;

    -webkit-line-clamp: 3;

    -moz-line-clamp: 3;

    -webkit-box-orient: vertical;

    -moz-box-orient: vertical;

    color: #333;

    line-height: 24px;

}



.tenants-item .read-more {

    position: absolute;

    top: 0;

    left: 0;

    bottom: 0;

    right: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    background: rgba(208, 222, 188, .8)

}



.tenants-item .read-more img {

    width: 40px;

    height: 40px

}



.tenants-item.read-more:hover {

    cursor: pointer;

}



.tenants-item:hover h4 {

    color: #337ab7

}



.tenants-item .description-box, .tenants-item .description-box p {

    height: 60px;

    overflow: hidden;

    text-overflow: ellipsis;

    display: -webkit-box;

    -webkit-line-clamp: 3;

    -moz-line-clamp: 3;

    -webkit-box-orient: vertical;

    -moz-box-orient: vertical;

}



@media (max-width: 1024px) {

    .tenants-content {

        min-height: 600px;

    }

}



@media (max-width: 767px) {

    .tenants-content {

        min-height: auto;

    }

    .item-item-new .item1 .image img{
        height: auto!important;
    }

    .content_content img {
        max-width: 100%;
        height: auto!important;
    }



    .content-new-detail .title-pr {

        font-size: 23px !important;

        margin-top: 0;

    }

}



.tenants-item a {

    color: black;

}



.tenants-item a:hover {

    color: #337ab7;

}



.tenants-item.odd {

    background-color: rgba(181, 209, 197, 0.65);

}



.contact-page {

    padding-top: 50px;

    /*padding-bottom: 50px;*/

}



.contact-location {

    min-height: 225px;

    width: 100%;

}



.contact-location h2 {

    text-transform: uppercase;

    color: #c2e20c;

    font-size: 20px;

    margin: 0;

    margin-bottom: 10px;

}



.contact-location p {

    margin-bottom: 7px;

    font-size: 15px;

}



.contact-location p span {

    display: block;

    float: left;

    width: 30px;

    color: #c2e20c;

}



.main-page-product .item-product {

    margin-bottom: 30px;

}



.breadcrumb ul {

    padding-left: 0;

    margin: 0;

}



.breadcrumb {

    background: #f3f3f3;

    padding: 10px 15px;

}



.breadcrumb ul li:last-child span {

    display: none;

}



.breadcrumb ul li {

    display: inline-block;

}



.breadcrumb ul li a {

    color: #999;

}



#baner-child img {

    width: 100%;

}



.content-product-detail h1 {

    font-size: 25px;

    line-height: 35px;

    margin: 0 0 10px;

    color: #77af42;

    font-family: 'GoogleSans-Bold';

}



.detail-product p {

    font-size: 15px;

}



.detail-product .video-link-icon img {

    padding-bottom: 20px;

}



.pd-right .c-style {

    margin-bottom: 5px;

}



.pd-right .c-style span {

    color: white;

    font-size: 18px;

    display: inline-block;

    max-height: 56px;

    text-align: center;

    padding: 5px 15px;

    width: 100%;

}



.pd-right .c-style .st-video {

    background-color: #77af42;

}



.pd-right .detail-info {

    padding: 15px;

    border: 1px solid #ddd;

}



.pd-right .detail-info p {

    position: relative;

    padding-top: 10px;

    font-size: 14px;

    color: #333;

    line-height: 1.6;

    margin-bottom: 0;

}



.pd-right p.xacthucthongtin {

    color: #00bb00;

    font-weight: 600;

    font-size: 16px;

}



.detail-user {

    width: 100%;

    float: left;

    clear: left;

    margin-top: 20px;

    border: 1px solid #d8d8d8;

    padding: 15px 5px;

    border-radius: 5px;

    margin-bottom: 15px;

    padding: 15px;

}



.detail-user .heading {

    font-size: 16px;

    margin-bottom: 10px;

    font-family: 'GoogleSans-Bold';

    margin-top: 0;

}



.media-left, .media > .pull-left {

    padding-right: 10px;

}



.media-body, .media-left, .media-right {

    display: table-cell;

    vertical-align: top;

}



.detail-user .media img {

    max-width: unset;

    width: 100px;

    border: 1px solid #4870a5;

    margin: 0;

}



.media-body .media-heading {

    font-weight: 600;

    color: #4870a5;

    font-size: 16px;

}



.media-body p {

    margin-bottom: 5px;

}



.btnSubmitMoigioi {

    background: #77af42;

    padding: 10px;

    margin: 10px 0;

    display: block;

    clear: left;

    width: 100%;

    color: #fff;

    font-size: 18px;

    text-align: center;

    font-family: 'GoogleSans-Bold';

    text-decoration: none;

}



.content-product-detail {

    padding-top: 40px;

}



.body-popup {

    min-height: 220px;

    background: #fff;

    margin: 0 auto;

    position: relative;

    border: 2px solid #2b3945;

    -ms-border-radius: 0;

    border-radius: 0;

}



.body-popup .header-pop {

    color: #333;

    text-transform: uppercase;

    font-size: 17px;

    font-weight: normal;

    line-height: 25px;

    display: block;

    padding: 10px 15px 7px;

}



.body-popup .post-modal {

    font-size: 14px;

    position: relative;

    padding: 15px;

    padding-top: 5px;

}



.body-popup .post-modal .text-hotline {

    background: #4870a5 none no-repeat scroll 14px 23px;

    color: #fff;

    font-size: 12px;

    margin: 0;

    padding: 10px;

    margin-bottom: 20px;

}



.body-popup .form-group {

    margin-bottom: 1rem;

}



.body-popup .post-modal .form-control {

    font-size: 13px;

}



.body-popup .btn-redstyle {

    padding: 0 15px;

    height: 44px;

    border: solid 2px #fff;

    border-radius: 30px;

    text-align: center;

    line-height: 40px;

    display: inline-block;

    background: #ec1f27;

    font-size: 16px;

    color: #fff;

    font-weight: 700;

    text-transform: uppercase;

}



.btnSubmitMoigioi {

    cursor: pointer;

}



.sidebar-box-blog {

    background: #77af42;

    padding: 10px 15px;

    font-size: 16px;

    color: white;

    border-radius: 3px 3px 0 0;

    -moz-border-radius: 3px 3px 0 0;

    -webkit-border-radius: 3px 3px 0 0;

    font-weight: 300;

}



.related-list {

    display: flex;

    flex-wrap: wrap;

    margin-top: 10px;

    list-style: none;

    padding: 0;

}



.related-list li {

    margin-bottom: 15px;

    float: left;

    width: 100%;

}



.related-list li .hm-reponsive {

    width: 30%;

    float: left;

}



.related-list li .info-aclis {

    width: 70%;

    padding-left: 15px;

    float: left;

}



.hm-reponsive img {

    object-fit: cover;

    width: 100%;

    height: 80px;

}



.related-list li .info-aclis h3 {

    margin-bottom: 5px;

    font-weight: 600;

    color: #4870a5;

    font-size: 13px;

    line-height: 1.5;

    overflow: hidden;

    display: -webkit-box;

    -webkit-line-clamp: 2;

    -webkit-box-orient: vertical;

    margin-top: 0;

}



.main-product-detail .tabbedPanels {

    margin-top: 25px;

}



.main-product-detail .panelContainer {

    clear: left;

    margin-bottom: 25px;

    border: 1px solid #ddd;

    background-color: #fff;

    padding: 10px; /* add height if you want equal panels */

}



.pd-article .panel {

    margin: 0;

    border: 0;

    -webkit-box-shadow: none;

}



.main-product-detail .tabs a {

    border-radius: 0 !important;

}



/* reset ul defaults  */

.main-product-detail .tabs {

    margin: 0;

    padding: 0;

    list-style: none;

}



/* set li properties  */

.main-product-detail .tabs li {

    float: left;

    padding: 0;

    margin: 0;

    text-align: center;

}



/* all formatting goes inside 'a' */

.main-product-detail .tabs a {

    display: block;

    text-decoration: none;

    color: #fff;

    font-weight: bold;

    padding: 8px 20px;

    margin-right: 5px; /* spaces out the tabs  */

    border: 2px solid #77af42;

    border-top-right-radius: 5px;

    border-top-left-radius: 5px;

    background-color: #77af42;

    margin-bottom: -2px; /* negative margin will move it down	                         to blend in with outer border  */

}



.main-product-detail .tabs a.active {

    background-color: #fff;

    color: #000;

    font-weight: bold;

    border: 1px solid #ddd;

    border-bottom: 0;

}



.main-product-detail .panel img {

    margin-top: 10px;

}



.main-product-detail .panel p {

    margin-bottom: 0px;

}



.pd-article .panelContainer {

    margin-top: -5px;

}



#slider-mobile {

    display: none !important;

}



.slider-small .owl-prev {

    position: absolute;

    top: 50%;

    left: 0;

    transform: translateY(-50%);

}



.slider-small .owl-next {

    position: absolute;

    top: 50%;

    right: 0;

    transform: translateY(-50%);

}



.slider-small .owl-nav > div {

    background-color: rgba(51, 51, 51, 0.6);

    width: 40px;

    height: 40px;

    text-align: center;

    line-height: 40px;

    color: #fff;

}



.list-img .slider-small {

    margin-top: 15px;

}



.content-product-detail .list-img {

    padding-bottom: 20px;

}



.list-img .slider-large .item img {

    height: 400px;

    object-fit: cover;

}



.list-img .slider-small img {

    height: 100px;

    object-fit: cover;

}



.slider-product .owl-prev {

    position: absolute;

    top: 28%;

    left: 0;

    transform: translateY(-28%);

}



.slider-product .owl-next {

    position: absolute;

    top: 28%;

    right: 0;

    transform: translateY(-28%);

}



.slider-product .owl-nav > div {

    background-color: rgba(51, 51, 51, 0.6);

    width: 40px;

    height: 40px;

    text-align: center;

    line-height: 40px;

    color: #fff;

}



.result-search {

    text-align: center;

    min-height: 330px;

    font-size: 20px;

    font-weight: 600;

}



.header-sticky.sticky { /*background: rgba(255,255,255,.9) !important;*/

    left: 0;

    position: fixed !important;

    right: 0;

    top: 0;

    -webkit-transition: all 300ms ease-in 0s;

    transition: all 300ms ease-in 0s;

    z-index: 1049;

}

.content-partner .owl-nav > div {

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    width: 30px;

    text-align: center;

    background: rgb(0,0,0, 0.3);

    height: 30px;

    line-height: 30px;

}



.content-partner {

    margin-bottom: 45px;

}



.content-partner .owl-nav > div.owl-next {

    right: 0;

}



.content-partner .owl-nav > div.owl-prev {

    left: 0;

}



.content-partner .owl-nav > div path {

    fill: #fff;

}

.box-partner .title-title {

    margin-bottom: 25px;

}

.form-contact form {

    margin-bottom: 30px;

    overflow: hidden;

}



/*Social*/

.hot-linkly {

    position: fixed;

    right: 0;

    top: 150px;

    z-index: 99;

}



.hot-linkly .bic-load .bic-load-tem {

    margin-bottom: 2px;

    width: 50px;

    height: 50px;

    background-image: linear-gradient(180deg,#ffc044 0%,#ef9f00 100%);

    border-radius: 10px 0 0 10px;

}



.hot-linkly .bic-load .bic-load-tem .loptop.hotline:before {

    content: url('../images/l1.svg');

    font-family: "FontAwesome";

    font-size: 23px;

    position: absolute;

    left: 12px;

    top: 4px;

    font-weight: 400;

}

.hot-linkly .bic-load .bic-load-tem .loptop.duan:before {

    content: url('../images/l2.svg');

    font-family: "FontAwesome";

    font-size: 23px;

    position: absolute;

    left: 11px;

    top: 4px;

    font-weight: 400;

}

.hot-linkly .bic-load .bic-load-tem .loptop.fanpage:before {

    content: url('../images/l3.svg');

    font-family: "FontAwesome";

    font-size: 23px;

    position: absolute;

    left: 11px;

    top: 4px;

    font-weight: 400;

}

.hot-linkly .bic-load .bic-load-tem .loptop.youtube:before {

    content: url('../images/l4.svg');

    font-family: "FontAwesome";

    font-size: 23px;

    position: absolute;

    left: 11px;

    top: 4px;

    font-weight: 400;

}

.hot-linkly .bic-load .bic-load-tem .loptop {

    display: inline-block;

    height: 50px;

    font-size: 14px;

    text-align: center;

    width: 51px;

    background-repeat: no-repeat;

    background-position: center;

    transition: width 300ms ease-in 0ms;

    cursor: pointer;

    position: absolute;

    right: 6px;

    font-weight: bold;







}

.hot-linkly .bic-load .bic-load-tem .loptop:hover {

    width: auto;

    display: flex;

    align-items: center;

    white-space: nowrap;



    padding-left: 55px;



    padding-right: 30px;

    background-image: linear-gradient(180deg,#ffc044 0%,#ef9f00 100%);

    border-radius: 10px 0 0 10px;

    margin-left: 0;



}



.hot-linkly .bic-load .bic-load-tem .loptop span {

    visibility: hidden;

    transition: steps(1, start) 300ms ease-in 0ms;

    padding-left: 12px;





    padding-left: 10px;



    color: #fff;

    min-width: 190px;



}

.hot-linkly .bic-load .bic-load-tem .loptop:hover span {

    visibility: visible;

}

.hot-linkly .bic-load .bic-load-tem:nth-child(2){

    background-image: linear-gradient(180deg,#3a8bff 0%,#035ada 100%);

}

.hot-linkly .bic-load .bic-load-tem:nth-child(2) .loptop:hover{

    background-image: linear-gradient(180deg,#3a8bff 0%,#035ada 100%);

}



.hot-linkly .bic-load .bic-load-tem:nth-child(3){

    background-image: linear-gradient(0deg,#1d77e2 1.46%,#2cb7ff 99.03%);

}

.hot-linkly .bic-load .bic-load-tem:nth-child(3) .loptop:hover{

    background-image: linear-gradient(0deg,#1d77e2 1.46%,#2cb7ff 99.03%);

}

.hot-linkly .bic-load .bic-load-tem:nth-child(4){

    background-image: linear-gradient(179.83deg,#8ad336 .15%,#509600 92.02%);

}

.hot-linkly .bic-load .bic-load-tem:nth-child(4) .loptop:hover{

    background-image: linear-gradient(179.83deg,#8ad336 .15%,#509600 92.02%);

}



.child-menu-ul .child-menu-ul li a{

    padding-left: 30px!important;

}



/* back to top new */

.totop{background-color:#d41617;position:fixed;bottom:30px;right:15px;z-index: 99999;}

.totop>a{background-color: #77af42;color:#fff;display:block;font-size:22px;padding:5px 12px;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}

.totop>a:hover{background-color:#d41617;}

.totop>a:hover i{color:#fff}

.totop>a i{color:#fff;}

.uk-form input:not([type=radio]):not([type=checkbox]), .uk-form select {

    vertical-align: middle;

}

.header input[type="text"] {

    outline: none;

    border: 1px solid #74a02d !important;

    background: #fff !important;

    padding: 0 36px 0 5px !important;

}

.header input[type="image"] {

    position: absolute;

    right: 12px;

    top: 11px;

}

.search-hover input[name="keyword"] {

    height: 35px;

    border: 1px solid #ddd;

    color: #333;

    padding-left: 5px;

}

.center-p {

    text-align: center!important;

}

.hot-news {

    margin: 25px 0;

}



.hot-news .list-news .title h3 {

    margin: 0;

    font-weight: bold;

    overflow: hidden;

    text-overflow: ellipsis;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 3;

    display: -webkit-box;

    line-height: 22px;

}



.hot-news .list-news .image img {

    height: 80px;

    width: 100%;

}



.hot-news .list-news {margin-bottom: 15px;}



.hot-news .list-news .col-xs-4 {

    padding-right: 7.5px;

}



.hot-news .list-news .col-xs-8 {

    padding-left: 7.5px;

}



.hot-news .title-title {

    margin: 0 0 20px 0;

    position: relative;

}



.hot-news .title-title h2 {

    display: inline-block;

    width: auto;

    z-index: 9;

    background: #fff;

    padding: 0 20px;

}



.hot-news .title-title:after {

    content: "";

    width: 100%;

    height: 2px;

    background: #77af42;

    position: absolute;

    left: 0;

    bottom: 11px;

}



.wrapper-bg-video video {

    max-width: 100%;

    width: 100%;

    height: auto;

    object-fit: inherit;

}