@font-face {
  font-family: 'GoogleSans-Regular';
  src: url('GoogleSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('GoogleSans-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SAMSUNGSHARPSANS-BOLD-UTF8';
  src: url('SAMSUNGSHARPSANS-BOLD-UTF8.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UTM Impact';
  src: url('UTM Impact.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UTM Nokia';
  src: url('UTM Nokia.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}


